<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
          <h1>User info</h1>
        <%= attachment_image_tag user, :profile_image, size: "100x100" , class: "pull-left profile-thumb", fallback: "no_image.jpg" %>
        <table class= "table">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th><%= current_user.name %></th>
            <tr>
              <th>introduction</th>
              <th><%= current_user.introduction %></th>
            </tr>
       </table>
       <% if user.id == current_user.id %>
         <%= link_to edit_user_path(current_user) do %>
         <span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" aria-hidden="true"></span>
         <% end %>
       <% end %>

       <% if book && book.errors.any? %>
         <%= book.errors.count %>errors prohibited this obj from being saved:<br>
         <% book.errors.full_messages.each do |message| %>
           <%= message %>
         <% end %>
       <% end %>
      
        <h1>New book</h1>
            <%= form_for(book) do |f| %>
              <h4>title</h4>
                <div class="field row">
                  <%= f.text_field :title, class: "col-xs-12" %>
                </div>
              <h4>body<h4>
                <div class="field row">
                  <%= f.text_area :body, class: "col-xs-12" %>
                </div>
              <br>
              <div class="field row">
                <%= f.submit 'Create Book', class: "col-xs-12 btn btn-default" %>
              </div>
            <% end %>
      </div>

